@media (max-width: 576px) {
}

/* Small Devices */
@media (min-width: 576px) and (max-width: 768px) {
  /* Styles for small devices */
}

/* Medium Devices */
@media (min-width: 768px) and (max-width: 992px) {
  /* Styles for medium devices */
}

/* Large Devices */
@media (min-width: 992px) and (max-width: 1200px) {
  /* Styles for large devices */
}

/* Extra Large Devices */
@media (min-width: 1200px) {
  /* Styles for extra large devices */
}

/* Media Quries */
@media screen and (max-width: 1120px) {
  .container {
    flex-direction: column;
  }
  .main {
    margin-left: 0;
  }
  .sidebar {
    position: static;
    top: 0;
    bottom: 50px;
    width: 100%;
    margin: auto;
    height: 740px;
  }
  .nav {
    display: none;
  }
  .main {
    width: 100%;
    margin-left: 0;
  }
  .side-head {
    justify-content: space-around;
  }
  .side-head img {
    height: 60px;
    width: 165px;
    margin-right: 400px;
    margin-top: 15px;
  }
  .sidebar-text {
    margin-right: 20px;
    font-size: 12px;
    text-align: right;
  }
  .my-image {
    text-align: center;
  }
  .my-image img {
    width: 300px;
    height: 255px;
    margin: 50px;
  }
  .btn button {
    width: 80%;
  }
}
@media screen and (max-width: 1026px) {
  .sidebar-text {
    margin-right: 20px;
    margin-top: 10px;
    font-size: 10px;
    text-align: right;
  }
  .side-head img {
    height: 60px;
    width: 165px;
    margin-right: 100px;
    margin-top: 15px;
  }

  .photo-move a {
    position: absolute;
    bottom: 0;
  }
  .main .info {
    font-size: 60px;
  }
  .toggle i {
    right: 30px;
  }
}

@media screen and (max-width: 600px) {
  .sidebar {
    overflow: visible;
    height: 640px;
  }
  .sidebar-text {
    margin-right: 20px;
    margin-top: 10px;
    font-size: 10px;
    text-align: right;
    overflow: visible;
    margin-left: -20px;
  }
  .side-head img {
    height: 60px;
    width: 165px;
    margin-right: 50px;
    margin-top: 15px;
  }
  .my-image img {
    width: 200px;
    height: 175px;
    margin: 50px;
  }
}
@media screen and (max-width: 680px) {
  .main .info {
    font-size: 40px;
  }
  .main .work {
    margin-top: 50px;
  }
  .photo-move {
    position: relative;
    left: 0;
  }
  .client-section .client-images {
    grid-template-columns: repeat(2, 1fr);
  }
  .slide {
    height: 320px;
  }
  .price-box {
    grid-template-columns: repeat(1, 4fr);
    align-items: center;
  }
  .nav2 {
    width: auto;
  }
}

@media screen and (max-width: 400px) {
  .nav2 {
    width: auto;
  }
  .cross-icon i {
    font-size: 30px;
    top: 31px;
  }
  .box1,
  .box2,
  .box3 {
    height: 400px;
  }
  .network i {
    margin-top: 70px;
  }
}
@media screen and (max-width: 430px) {
  .main .info {
    font-size: 40px;
  }
}
@media screen and (max-width: 816px) {
  .sidebar-text {
    margin-right: 20px;
    margin-top: 10px;
    font-size: 12px;
    text-align: right;
  }
}

@media screen and (max-width: 440px) {
  .toggle i {
    top: 4px;
    right: 0;
    border: none;
  }
}
@media screen and (max-width: 360px) {
  .toggle i {
    top: 4px;
    right: 0;
    border: none;
  }
  .configration {
    width: 50%;
    padding: 10px;
  }
  .configration h1 {
    font-size: 18px;
  }
  .color {
    flex-wrap: wrap;
  }
  .con-cross i {
    border: none;
  }
  .backgrounds {
    grid-template-columns: repeat(1, 4fr);
  }
}

@media screen and (max-width: 480px) {
  .configration {
    width: 50%;
    padding: 10px;
  }
  .configration h1 {
    font-size: 18px;
  }
  .color {
    flex-wrap: wrap;
  }
  .con-cross i {
    border: none;
    top: 35px;
  }
  .backgrounds {
    grid-template-columns: repeat(1, 4fr);
  }
  .sidebar {
    width: 100%;
    height: 650px;
  }
  .cross-icon i {
    border: none;
    top: 31px;
    width: 0;
    height: 0;
  }
  .toggle i {
    top: 4px;
    right: 0;
    border: none;
  }
  .about-info {
    font-size: 25px;
  }
  .resume-info {
    font-size: 25px;
  }
  .skill-section {
    flex-wrap: wrap;
    margin: auto;
  }
  .skills-info {
    font-size: 30px;
    margin-top: 40px;
  }
  .skill p {
    position: relative;
    right: 47px;
    bottom: 10px;
  }
  .pf-data img {
    width: 100%;
    height: 280px;
  }
  .pf-btn {
    bottom: 60px;
  }
  .pf-btn button {
    font-size: 10px;
  }
  .pf-data p {
    font-size: 15px;
  }
  .midle-pf {
    display: block;
    gap: 40px;
  }
  .midle-pf img {
    width: 100%;
  }
  .midle-btn button {
    font-size: 10px;
  }
  .pf-data1 p {
    font-size: 17px;
  }
  .midle-btn {
    bottom: 60px;
  }
  .midle-btn1 button {
    font-size: 10px;
  }
  .pf-data2 p {
    font-size: 15px;
  }
  .midle-btn1 {
    bottom: 55px;
  }
  .midle-data1 {
    margin-top: 20px;
  }
  .last-data img {
    width: 100%;
    height: 288px;
  }

  .last-btn {
    bottom: 55px;
  }
  .last-btn button {
    font-size: 10px;
  }
  .last-data p {
    font-size: 15px;
  }
  .last-data1 img {
    width: 100%;
    height: 300px;
  }
  .last-btn1 {
    bottom: 55px;
  }
  .last-btn1 button {
    font-size: 10px;
  }
  .last-data1 p {
    font-size: 15px;
  }
  .skill p {
    right: 0;
  }
  .testimonial-info {
    font-size: 30px;
    margin-left: 0;
  }
  .slider {
    height: 400px;
  }
  .slide {
    height: 390px;
  }
  .con-row1 {
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width: 430px) {
  .sidebar {
    margin-left: 0;
    width: 100%;
  }
  .main .info {
    font-size: 25px;
    margin-top: 20px;
  }
  .main .work {
    margin-top: 30px;
    font-size: 9px;
  }
  .photo-move {
    width: 140px;
    height: 140px;
  }
  .photo-move img {
    height: 115px;
    width: 110px;
  }
  .photo-move i {
    font-size: 25px;
    left: 60px;
  }
  .toggle i {
    top: 4px;
    right: 0;
    border: none;
  }

  .side-head img {
    height: 45px;
    width: 130px;
    margin-left: 20px;
  }
  .exp-section {
    gap: 58px;
  }
  .about-info {
    font-size: 19px;
  }
  .photo-move {
    position: relative;
    left: 0;
  }
  .resume-info {
    font-size: 20px;
  }
  .present .resume-exp li {
    list-style-type: none;
    margin: 20px;
    font-size: 20px;
  }
  .recent .resume-exp li {
    list-style-type: none;
    margin: 20px;
    font-size: 20px;
  }
  .past .resume-exp li {
    list-style-type: none;
    margin: 20px;
    font-size: 20px;
  }
  .service {
    margin-top: 50px;
  }

  .sep {
    font-size: 17px;
  }
  .network i {
    right: 15px;
  }
  .box1,
  .box2,
  .box3 {
    height: 300px;
    width: 80%;
    text-align: justify;
  }
  .skills {
    margin-top: 30px;
  }
  .skills-info {
    font-size: 30px;
    margin-top: 40px;
  }
  .skill-section {
    display: block;
  }
  .skill p {
    position: relative;
    right: 47px;
    bottom: 10px;
  }
  .pf-data img {
    width: 100%;
    height: 280px;
  }
  .pf-btn {
    bottom: 60px;
  }
  .pf-btn button {
    font-size: 10px;
  }
  .pf-data p {
    font-size: 15px;
  }
  .midle-pf {
    display: block;
    gap: 40px;
  }
  .midle-pf img {
    width: 100%;
  }
  .midle-btn button {
    font-size: 10px;
  }
  .pf-data1 p {
    font-size: 17px;
  }
  .midle-btn {
    bottom: 60px;
  }
  .midle-btn1 button {
    font-size: 10px;
  }
  .pf-data2 p {
    font-size: 15px;
  }
  .midle-btn1 {
    bottom: 55px;
  }
  .midle-data1 {
    margin-top: 20px;
  }
  .last-data img {
    width: 100%;
    height: 288px;
  }

  .last-btn {
    bottom: 55px;
  }
  .last-btn button {
    font-size: 10px;
  }
  .last-data p {
    font-size: 15px;
  }
  .last-data1 img {
    width: 100%;
    height: 300px;
  }
  .last-btn1 {
    bottom: 55px;
  }
  .last-btn1 button {
    font-size: 10px;
  }
  .last-data1 p {
    font-size: 15px;
  }
  .testimonial-info {
    font-size: 30px;
    margin-left: 0;
  }
  .slider {
    height: 440px;
  }
  .slide {
    height: 430px;
  }
  .slide p {
    margin-left: 1px;
    font-size: 15px;
    width: 100%;
  }
  .slide-data img {
    width: 50px;
    height: 50px;
  }
  .slide-data li {
    font-size: 10px;
  }
  .designation {
    font-size: 8px;
  }
  .slide a {
    position: relative;
    top: 30px;
    margin-left: 0;
  }
  .client-section {
    margin-top: 200px;
  }
  .price-box1 {
    width: 100%;
  }
  .box1-data p {
    font-size: 12px;
  }
  .price-btn button {
    font-size: 20px;
  }
  .price-box2 {
    width: 100%;
  }
  .con-row1 {
    flex-direction: column;
    gap: 20px;
  }
}

/* Tooltip Css */

.tooltip i {
  transition: 0.5s ease;
}
.tooltip .tooltip-text {
  visibility: hidden;
  width: 60px;
  background-color: #404042;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px 0;
  position: absolute;
  z-index: 1;
  top: 18px;
  right: 100%;
  font-size: 15px;
  font-size: 10px;
  letter-spacing: 2px;
}
.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: -4%;
  left: 92%;
  border-left: 15px solid #404042;
  border-top: 14px solid transparent;
  border-bottom: 10px solid transparent;
}
.tooltip .tooltip-about {
  visibility: hidden;
  width: 60px;
  background-color: #404042;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px 0;
  position: absolute;
  z-index: 1;
  top: 14px;
  right: 100%;
  font-size: 15px;
  font-size: 10px;
  letter-spacing: 2px;
}
.tooltip .tooltip-about::after {
  content: "";
  position: absolute;
  top: -4%;
  left: 92%;
  border-left: 15px solid #404042;
  border-top: 14px solid transparent;
  border-bottom: 10px solid transparent;
}
.tooltip i:hover .tooltip-about {
  visibility: visible;
}
.tooltip i:hover .tooltip-text {
  visibility: visible;
}
.tooltip .tooltip-resume {
  visibility: hidden;
  width: 78px;
  background-color: #404042;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px 0;
  position: absolute;
  z-index: 1;
  top: 14px;
  right: 100%;
  font-size: 10px;
  letter-spacing: 2px;
}
.tooltip .tooltip-resume::after {
  content: "";
  position: absolute;
  top: -4%;
  left: 92%;
  border-left: 15px solid #404042;
  border-top: 14px solid transparent;
  border-bottom: 10px solid transparent;
}
.tooltip i:hover .tooltip-resume {
  visibility: visible;
}
.tooltip .tooltip-service {
  visibility: hidden;
  width: 78px;
  background-color: #404042;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px 0;
  position: absolute;
  z-index: 1;
  top: 14px;
  right: 100%;
  font-size: 10px;
  letter-spacing: 2px;
}
.tooltip .tooltip-service::after {
  content: "";
  position: absolute;
  top: -4%;
  left: 92%;
  border-left: 15px solid #404042;
  border-top: 14px solid transparent;
  border-bottom: 10px solid transparent;
}
.tooltip i:hover .tooltip-service {
  visibility: visible;
}
.tooltip .tooltip-skills {
  visibility: hidden;
  width: 78px;
  background-color: #404042;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px 0;
  position: absolute;
  z-index: 1;
  top: 14px;
  right: 100%;
  font-size: 10px;
  letter-spacing: 2px;
}
.tooltip .tooltip-skills::after {
  content: "";
  position: absolute;
  top: -4%;
  left: 92%;
  border-left: 15px solid #404042;
  border-top: 14px solid transparent;
  border-bottom: 10px solid transparent;
}
.tooltip i:hover .tooltip-skills {
  visibility: visible;
}
.tooltip .tooltip-portfolio {
  visibility: hidden;
  width: 78px;
  background-color: #404042;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px 0;
  position: absolute;
  z-index: 1;
  top: 14px;
  right: 100%;
  font-size: 10px;
  letter-spacing: 2px;
}
.tooltip .tooltip-portfolio::after {
  content: "";
  position: absolute;
  top: -4%;
  left: 92%;
  border-left: 15px solid #404042;
  border-top: 14px solid transparent;
  border-bottom: 10px solid transparent;
}
.tooltip i:hover .tooltip-portfolio {
  visibility: visible;
}
.tooltip .tooltip-testimonial {
  visibility: hidden;
  width: 120px;
  background-color: #404042;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px 0;
  position: absolute;
  z-index: 1;
  top: 14px;
  right: 100%;
  font-size: 10px;
  letter-spacing: 2px;
}
.tooltip .tooltip-testimonial::after {
  content: "";
  position: absolute;
  top: -4%;
  left: 92%;
  border-left: 15px solid #404042;
  border-top: 14px solid transparent;
  border-bottom: 10px solid transparent;
}
.tooltip i:hover .tooltip-testimonial {
  visibility: visible;
}
.tooltip .tooltip-contact {
  visibility: hidden;
  width: 120px;
  background-color: #404042;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px 0;
  position: absolute;
  z-index: 1;
  top: 14px;
  right: 100%;
  font-size: 10px;
  letter-spacing: 2px;
}
.tooltip .tooltip-contact::after {
  content: "";
  position: absolute;
  top: -4%;
  left: 92%;
  border-left: 15px solid #404042;
  border-top: 14px solid transparent;
  border-bottom: 10px solid transparent;
}
.tooltip i:hover .tooltip-contact {
  visibility: visible;
}
.tooltip i:hover {
  color: var(--primary_color);
}

/* Animations */

@keyframes moveSide {
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes moveup {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Animations */
@keyframes moving {
  100% {
    transform: rotate(180deg);
  }
}

/* .logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
*/
